.timer-parent {
  height: 100vh;
  padding: 30px;
  background-color: #c9c7c7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-parent button {
  background-color: #e0cfb5;
  color: white;
  border: none;
  width: 100%;
  padding: 10px 20px;
  border-radius: 7px;
  margin-bottom: 40px;
}
